<%= render 'shared/header' %>

<div class="edit_user_wrapper">
  <%= form_with model: @user, url: user_registration_path,local: true do |f| %>
    <div class="edit_user_division">
      <div class="edit_user_image_wrapper">
        <div class="edit_user_image_container">
          <div class="edit_user_image_frame">
            <% if @user.image.attached? %>
              <%= image_tag(@user.image, class:"user_image attr_user_image") %>
            <% else %>
              <%= image_tag'user_icon.svg', class: :user_image%>
            <% end %>
          </div>
          <label for="user-image" class="select_user_image">
            <span class="user_browse_btn">画像をアップロード</span><%= f.file_field :image, id: "user-image" %>
          </label>
        </div>
      </div>
      <div class="edit_user_information_wrapper">
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="edit_user_information_area">
          <div class="field">
            <%= f.label :nickname %><br />
            <%= f.text_area :nickname, autofocus: true, autocomplete: "nickname", class: :edit_input, maxlength:"20" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: :edit_input %>
          </div>

          <div class="field">
            <%= f.label :profile %><br />
            <%= f.text_area :profile, autofocus: true, autocomplete: "profile", class: :edit_input_profile %>
          </div>
        </div>
        <div class="edit_actions">
          <%= f.submit "保存" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'shared/footer' %>