<%= render 'shared/header' %>

<div class="finished_wrapper">
  <div class="finished_container">
    <div class="finished_title">
      <% if request.referer&.include?(new_contest_path) %>
        <h1>コンテストを開催しました！</h1>
      <% else %>
        <h1>編集が完了しました！</h1>
      <% end %>
    </div>
    <div class="return_to_each">
      <div class="rte_button_frame yellow_button">
        <%= link_to 'トップページに戻る', root_path %>
      </div>
      <div class="rte_button_frame yellow_button">
        <%= link_to 'コンテスト一覧へ戻る', list_contests_path %>
      </div>
    </div>
    <div class="twitter">
      <%= link_to("Twitterにシェア","https://twitter.com/share?url=#{request.url}/#{@contest.id}&text=#{@contest.title}を開催しました！", title: 'Twitter', target: '_blank') %>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>