<%= render 'shared/header' %>

<div class="start_page_wrapper", id="start_top">
  <div class="start_page_container">
    <div class="start_page_left">
      <div class="held_area">
        <h2>コンテストを開催する</h2>
        <button class="start_button yellow_button"><%= link_to 'はじめる', new_contest_path(anchor: "start_top") %></button>
      </div>
      <div class="other_area">
        <h2>コンテストに参加・応援する</h2>
        <button class="start_button yellow_button"><%= link_to 'はじめる', list_contests_path %></button>
      </div>
    </div>
    <div class="start_page_right">
      <%= image_tag('start-image.png', class: :start_image)%>
  </div>
</div>

<%= render 'shared/footer' %>