<%= render 'shared/header' %>
<div class="work_wrapper">
  <div class="work_header">
    <div class="work_header_upper">
      <div class="whu_thumbnail_frame">
        <%= image_tag(@contest.image, class: :whu_image)%>
      </div>
      <h1><%= @contest.title%></h1>
      <div class="join_button_container">
      <% if user_signed_in? && @contest.user.id == current_user.id %>
        <button class="contest_edit_button_frame yellow_button">
          <%= link_to '編集する', edit_contest_path(@contest.id), class: :join_button %>
        </button>
      <% else %>
        <button class="join_button_frame yellow_button">
          <%= link_to '参加する', new_contest_work_path(@contest.id), class: :join_button %>
        </button>
      <% end %>
      </div>
    </div>
    <div class="work_header_lower">
      <div class="work_header_content"><%= @contest.content %></div>
    </div>
  </div>
  <div class="work_list_wrapper">
    <ul class="work_list">
    <% if @contest.genre_id == 2%>
      <%= render partial: 'image_work', collection: @works, local: { image_work: @works }%>
    <% else %>
      <%= render partial: 'video_work', collection: @works, local: { video_work: @works }%>
    <% end%>
    </ul>
  </div>
</div>
<%= render 'shared/footer' %>
