<%= render 'shared/header' %>
  <div class="user_wrapper">
    <div class="user_upper_container">
      <div class="user_image_container">
        <div class="user_image_frame">
          <% if @user.image.attached? %>
            <%= image_tag(@user.image, class: :user_image) %>
          <% else %>
            <%= image_tag'user_icon.svg', class: :user_image %>
          <% end %>
        </div>
      </div>
      <div class="user_nickname_container">
        <h1><%= @user.nickname %></h1>
      </div>
      <div class="user_edit_button_container">
        <%if @user.id == current_user.id%><button class="user_edit_button_frame"><%= link_to '編集',edit_user_registration_path %></button><%end%>
      </div>
    </div>
    <div class="user_middle_container">
      <h2>プロフィール<span class="rotation_arrow_area"><%= image_tag'rotation.svg', class: :rotation_arrow %></span></h2>
      <div class="user_profile_container">
        <p class="user_profile"><%if @user.profile == "" %>まだプロフィールがありません。<%else%><%= @user.profile %><%end%></p>
      </div>
    </div>
    <div class="user_lower_container">
      <ul class="user_medal_list">
        <li class="list_user_cup"><%= image_tag'cup.svg', class: :user_medals if @user.count_first >= 5 %></li>
        <li class="list_user_count_first"><% if @user.count_first >= 1 %><%= image_tag'first.svg', class: :user_medals %><%= @user.count_first%><%end%></li>
        <li class="list_user_count_second"><% if @user.count_second >= 1 %><%= image_tag'second.svg', class: :user_medals %><%= @user.count_second%><%end%></li>
        <li class="list_user_count_third"><% if @user.count_third >= 1 %><%= image_tag'third.svg', class: :user_medals %><%= @user.count_third%><%end%></li>
      </ul>
      <% if @user.id == current_user.id %>
        <div class="user_has_favorites">
          <ul class="user_fav_list">
            <li class="list_user_black"><%= image_tag('black_icon_big.svg', class: :user_fav)%><%= @user.black_favorite %></li>
            <li class="list_user_gold"><%= image_tag('gold_icon_big.svg', class: :user_fav)%><%= @user.gold_favorite %></li>
            <li class="list_user_purple"><%= image_tag('purple_icon_big.svg', class: :user_fav)%><%= @user.purple_favorite %></li>
          </ul>
          <button><%= link_to 'いいねを購入する', new_order_path %></button>
        </div>
        <div class="to_card">
          <button><%= link_to 'カード情報の確認・登録', new_card_path %></button>
        </div>
      <% end %>
    </div>
  </div>
<%= render 'shared/footer' %>