<header class="header">
  <div class="inner">
    <div class="header_items">
      <div class="header_left">
        <div class="header_left_container">
          <%= link_to image_tag('logo.png', class: :logo), root_path %>
          <div class="form_block">
            <%= form_with url: '#', local: true, method: :get, class: "serch_form" do | form | %>
              <%= image_submit_tag "search.svg", class: :search %>
              <%= form.text_field :keyword, placeholder: "キーワードで検索", class: "search_input" %>
            <% end %>
          </div>
        </div>
      </div>
      <nav class="header_nav">
        <div class="nav_container">
          <ul class="header_nav_list">
            <li class="nav_items"><%= link_to "はじめる",contests_path(anchor: "start_top") %></li>
            <li class="nav_items" id="nav-items"><a href="javascript:void(0);" id="find" >さがす</a></li>
            <% if request.path == '/'
                  path = 'javascript:void(0);'
               else
                  path = '/#how'
               end   
            %>
            <li class="nav_items"><a href="<%= path %>" id="to-how">MOROHEIYAとは</a></li>
            <li class="nav_items"><%= link_to "使い方",root_path %></li>
          </ul>
        </div>
      </nav>
      <div class="header_right">
        <% unless user_signed_in? %>
          <div class="header_right_container">
            <div class="left_btn">
              <%= link_to "ログイン", new_user_session_path, class: :sign_in_button %>
            </div>
            <div class="right_btn">
              <%= link_to "新規登録", new_user_registration_path, class: :sign_up_button %>
            </div>
          </div>
        <% else %>
          <div class="header_right_container">
            <%# <div class="left_btn"> %>
              <%#= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :sign_out_button %>
            <%# </div> %>
            <div class="right_btn header_user">
              <div class="header_user_hover_area" id="user-button">
                <div class="user_icon_container">
                  <%= image_tag('user_icon.svg', class: :user_icon) %>
                </div>
                <div class="user_nick_name_container">
                  <%= current_user.nickname %>
                </div>
              </div>
              <div class="user_menu" id="user-menu">
                <div class="user_menu_upper">
                  <div class="user_menu_image">
                    <%= image_tag('user_icon.svg', class: :user_image) %>
                  </div>
                  <div class="user_menu_nickname">
                    <%= current_user.nickname%>
                  </div>
                  <div class="user_menu_email">
                    <%= current_user.email%>
                  </div>
                </div>
                <div class="user_menu_middle">
                  <div class="user_setting_area" id="user-settings-button">
                    <div class="user_setting_button">
                      <%= link_to image_tag('settings.svg',class: :setting_icon) + "設定", root_path, class: :user_setting%>
                    </div>
                  </div>
                </div>
                <div class="user_menu_lower">
                  <div class="sign_out_button_area">
                    <div class="sign_out_button">
                      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: :sign_out %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="find_list" id="find-list">
    <div class="find_list_container" id="find-list-zone">
      <div id="show-later">
        <div class="find_list_title">
          <h3>コンテストをさがす</h3>
        </div>
        <div class="find_list_division">
          <h4 class="division_genre">ジャンル</h4>
          <h4 class="division_category">カテゴリ</h4>
        </div>
        <div class="find_list_items">
          <div class="find_list_genre_container">
            <ul class="find_list_genre">
              <li class="header_list_arrow"><%= link_to "画像系", root_path, class: :list_item %></li>
              <li class="header_list_arrow"><%= link_to "動画系", root_path, class: :list_item %></li>
            </ul>
          </div>
          <ul class="find_list_category_1">
            <li class="header_list_arrow"><%= link_to "エンターテインメント", root_path, class: :list_item %></li>
            <li class="header_list_arrow"><%= link_to "スポーツ", root_path, class: :list_item %></li>
            <li class="header_list_arrow"><%= link_to "ファッション", root_path, class: :list_item %></li>
            <li class="header_list_arrow"><%= link_to "アニメ・マンガ", root_path, class: :list_item %></li>
          </ul>
          <ul class="find_list_category_2">
            <li class="header_list_arrow"><%= link_to "ゲーム", root_path, class: :list_item %></li>
            <li class="header_list_arrow"><%= link_to "ビジネス", root_path, class: :list_item %></li>
            <li class="header_list_arrow"><%= link_to "アート・イラスト", root_path, class: :list_item %></li>
            <li class="header_list_arrow"><%= link_to "音楽", root_path, class: :list_item %></li>
            <li class="header_list_arrow"><%= link_to "その他", root_path, class: :list_item %></li>
          </ul>
        </div>
      </div>
    </div>
  <div>
</header>