<%= render 'shared/header' %>

<div class="order_wrapper">
  <div class="order_container">
    <h1>購入内容確認</h1>
    <%= form_with model: @order, url: orders_path, local: true do |f|%>
      <div class="order_group">
        <div class="order_icon_container">
          <%= image_tag 'black_icon.png'%>
        </div>
        <p>blackいいね &nbsp;@¥500</p>
        <div class="order_input">
          <%= f.number_field :black, min: 0, readonly: true %>
        </div>      </div>
      <div class="order_group">
        <div class="order_icon_container">
          <%= image_tag 'gold_icon.png'%>
        </div>
        <p>goldいいね &nbsp;&nbsp;&nbsp;@¥200</p>
        <div class="order_input">
          <%= f.number_field :gold, min: 0, readonly: true %>
        </div>      </div>
      <div class="order_group">
        <div class="order_icon_container">
          <%= image_tag 'purple_icon.png'%>
        </div>
        <p>purpleいいね @¥100</p>
        <div class="order_input">
          <%= f.number_field :purple, min: 0, readonly: true %>
        </div>
      </div>
      <button class="order_button"><%= f.submit '購入する'%></button>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>