<%= render 'shared/header' %>

<div class="order_wrapper">
  <div class="order_container">
    <h1>購入内容確認</h1>
    <p>購入を確定しますか？</p>
    <%= form_with model: @order, url: orders_path, local: true do |f|%>
      <% unless @order.black == nil || @order.black == 0 %>
        <div class="order_group">
          <div class="order_icon_container">
            <%= image_tag 'black_icon.png'%>
          </div>
          <p>blackいいね &nbsp;@¥500</p>
          <div class="order_input_confirm">
            <%= f.number_field :black, min: 0, readonly: true %>個
          </div>
        </div>
      <% end %>
      <% unless @order.gold == nil || @order.gold == 0%>
        <div class="order_group">
          <div class="order_icon_container">
            <%= image_tag 'gold_icon.png'%>
          </div>
          <p>goldいいね &nbsp;&nbsp;&nbsp;@¥200</p>
          <div class="order_input_confirm">
            <%= f.number_field :gold, min: 0, readonly: true %>個
          </div>
        </div>
      <% end %>
      <% unless @order.purple == nil || @order.purple == 0 %>
        <div class="order_group">
          <div class="order_icon_container">
            <%= image_tag 'purple_icon.png'%>
          </div>
          <p>purpleいいね @¥100</p>
          <div class="order_input_confirm">
            <%= f.number_field :purple, min: 0, readonly: true %>個
          </div>
        </div>
      <% end %>
      <% if @card.blank? %>
        <p>カードが登録されていません。購入ボタンを押すと入力画面が表示されます</p>
        <div class="buy_bton">
          <%= form_with model:@order, action: :create, method: :post do %>
            <script class="payjp-button" src="https://checkout.pay.jp" type="text/javascript" data-text="購入する" data-key="pk_test_ad515ba65e4c6c2bb1e58dff"></script>
          <% end %>
        </div>
      <% else %>
          <%= "**** **** **** " + @card.last4 %>
          <% exp_month = @card.exp_month.to_s %>
          <% exp_year = @card.exp_year.to_s.slice(2,3) %>
          <%= exp_month + " / " + exp_year %>
          <br />
          <%= form_with model:@order, action: :create, method: :post, local: true do %>
            <button>購入する</button>
          <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>