<%= render 'shared/header' %>
<div class="card_show_wrapper">
  <div class="card_show_container">
    <h1>登録クレジットカード情報</h1>
    <div class="card_show">
      <div class="card_show_left">
        <%= "**** **** **** " + @default_card_information.last4 %>
        <br />
        <% exp_month = @default_card_information.exp_month.to_s %>
        <% exp_year = @default_card_information.exp_year.to_s.slice(2,3) %>
        <%= exp_month + " / " + exp_year %>
      </div>
      <div class="card_show_right">
        <%= form_with url:delete_cards_path, method: :post, id: 'charge-form', name: "inputForm", local: true do %>
          <input type="hidden" name="card_id" value="">
          <button>削除する</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>