<!DOCTYPE html>
<html>
  <head>
    <title>Moroheiya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.pay.jp/v2/pay.js"></script>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
